# Dependências (Instaladas via npm)
**/node_modules/
package-lock.json

# Variáveis de Ambiente (Contém MONGO_URI, chaves JWT, etc.)
**/.env
**/.env.local
**/.env.production

# Logs de Erro (Como o erro EJSONPARSE que você recebeu)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

# Artefatos de Build (Arquivos gerados pelo Docker ou Vite)
backend/dist/
frontend/dist/
frontend/build/

# Docker
.docker/

# Relatórios de Cobertura de Testes (Gerado pelo Jest)
**/coverage/